/*------------------------ Footer ------------------------*/
footer {
   width: 100%;
   img {
      margin: 0 0.4rem;
   }
   p {
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.1rem;
      /*width: 100vw;*/
      padding: 1rem;
      span {
         color: $color-primary;
         margin: 0 0.3rem;
         font-weight: 700;
      }
   }
}
