/*-------------------- Desktop Menu --------------------*/
.menu-desktop {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 8rem;
   .menu-desktop__logo {
      a {
         display: flex;
         justify-content: center;
         align-items: center;
         text-decoration: none;
      }
      .menu-desktop__logo--icon {
         margin: auto 0.5rem auto 0;
         @include filter(brightness(0) invert(1));
         img {
            width: 50px;
            @include mobile {
               width: 30px;
            }
         }
      }
      .menu-desktop__logo--text {
         font-family: $font-family;
         font-size: 2rem;
         font-weight: 700;
         color: $color-white;
         text-transform: uppercase;
         vertical-align: middle;
         @include mobile {
            font-size: 1.5rem;
         }
         span {
            color: $color-primary;
         }
      }
   }
   .menu-desktop__links {
      a {
         color: $color-white;
         text-decoration: none;
         font-weight: 400;
      }
      display: flex;
      align-items: center;
      font-family: $font-family;
      transform: translateX(3rem);
      @include mobile {
         display: none;
      }
      .menu-desktop__link {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right: 2.5rem;

         @include transition(all, 0.5s, ease-in-out);
         i {
            margin: 0 0.5rem;
            font-size: 2rem;
            @include transition(font-size, 0.5s, ease-in-out);
         }
         p {
            /*opacity: 0;*/
            @include transition(opacity, 0.25s, ease-in-out);
         }
         &:last-of-type {
            margin-right: 0;
         }
         &:hover {
            /*transform: translateX(-2rem);*/
            color: $color-secondary;
            /*i {
               font-size: 1.8rem;
            }*/
            p {
               opacity: 1;
            }
         }
      }
   }
}
