/*------------------------ Variables ------------------------*/
$color-black: #121212;
$color-white: #f0f0f0;
$color-gray: #ebebeb;
$color-primary: #4578dd;
$color-secondary: #4578dd;
$blur: blur(5rem) contrast(125%) brightness(75%);
$font-family: 'Roboto', Courier, monospace, sans-serif;
$margin-lateral: 10vw;
$base-space: 2rem;
$shadow: 0.3rem 0.3rem 1rem 0 rgba(18, 18, 18, 0.2);
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$mobile-icon-size: 0.6rem;
